# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/
*.log

# Node (Frontend)
node_modules/
dist/
dist-ssr/
*.local
.vscode/

# DeepFace / AI Models
.deepface/
yolov8n.pt
*.jpg
*.jpeg

# Secrets
*.json
.env
