flask
celery
openai-whisper
psycopg2-binary
python-dotenv
SpeechRecognition
pyaudio
fastapi
uvicorn
google-auth
google-auth-oauthlib
python-multipart
google-api-python-client
jinja2
sounddevice
pyaudio
scipy